#footer
  Powered by #{link_to "Human-Oriented Systems CRM Module", "http://www.humanoriented.com", :popup => true }
  v#{FatFreeCRM::Version} &copy; 2008-#{Date.today.year} by Human-Oriented Systems
  - unless tabless_layout?
    \|
    = link_to(t(:about), "#", :title => t(:about_ffc), :onclick => "Modalbox.show($('about'), { title: this.title }); return false;")
%br
= render :partial => "layouts/about"
